{% extends 'base.html' %}

{% block content %}
    <span class="title"><h1>{% block title %} Posts {% endblock %}</h1></span>
    <div class="content">
        <div class = "row">
            {% for d  in data %}
            <a href="{{url_for('posts.getPost', post_id=d.id)}}">
                <div class="card card-header py-3 mb-2" style="grid-auto-flow: column;">
                    <h4 class="card-title">{{d.title}}</h4>
                    <p class="card-text">{{d.body}}</p>
                    <p>{{d.author}}</p>
                    <p>{{d['created_at']}}</p>
                    <p>{{d['updated_at']}}</p>
                </div>
            </a>
            {%endfor%}
            </div>
    </div>
{% endblock %}