{% extends 'base.html' %}

{% block content %}

<div class="row">
    <h1>Create post</h1>
</div>
<div class="bd-content ps-lg-4">
<form method="POST" >
    {{form.hidden_tag()}}
    {{form.title.label(class="form-label")}}
    {{form.title(class="form-control")}}
    {{form.description.label(class="form-label")}}
    {{form.description(class="form-control")}}
    {{form.author.label(class="form-label")}}
    {{form.author(class="form-control")}}
    <br/>
    {{form.submit(class="btn btn-secondary")}}
</form>
</div>

{% endblock %}